<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751729388149-ghcgbb5tgjog1pf01b3p24uq5lnk3jc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751729388149-ghcgbb5tgjog1pf01b3p24uq5lnk3jc8</string>
	<key>API_KEY</key>
	<string>AIzaSyDKSt0vNScI4IToM2pwwAmwuDV1Y45dB4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>751729388149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hello.TaskManageriOS</string>
	<key>PROJECT_ID</key>
	<string>taskmanagerios-3830d</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanagerios-3830d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751729388149:ios:5d89e1239c1d828016263c</string>
	<key>DATABASE_URL</key>
	<string>https://taskmanagerios-3830d.firebaseio.com</string>
</dict>
</plist>